.hero {
    width: 100%;
    height: 100vh;
    background: url("https://tse4.mm.bing.net/th/id/OIP.mWZIKQ3gfoUIH3kcuqNhBwHaEK?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.6));
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.hero-content {
    text-align: center;
    color: #fff;
    max-width: 800px;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.hero-title span {
    color: #ff6b00;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin: 20px 0 30px;
    color: #65ffc4;
}

.hero-subtitle strong {
    font-size: 30px;
    color: #0f46be;
}

.hero-sub {
    font-size: 1.2rem;
    margin: 30px 0 40px;
    color: aquamarine;
}

.hero-buttons button {
    padding: 12px 28px;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    text-transform: capitalize;
}

.btn-primary {
    background-color: #ff6b00;
    color: #c3057a;
}

.btn-primary:hover {
    background-color: #051f91;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #c40e97;
    color: #14e764;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #000;
}


@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-buttons button {
        margin-top: 15px;
        width: 100%;
        max-width: 250px;
    }
}